.Task{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 42%;
    border-radius: 20px;
    background-color: rgb(222, 126, 126);
    gap: 3%;
}

.task-input{
    outline: none;
    border: none;
    border-radius: 40px;
    height: 50px;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
}

.add-task-button{
    font-size: 1.2em;
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.task-container{
    align-items: stretch;
    background-color: rgb(227, 227, 227);
    height: 200px;
    width: 350px;
    border-radius: 20px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.my-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 93%;
    background-color:  rgb(231, 152, 152);
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.done-task-container{
    align-items: stretch;
    background-color: rgb(227, 227, 227);
    height: 100px;
    width: 350px;
    border-radius: 20px;
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
}

.my-done-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 93%;
    background-color:  rgb(118, 221, 125);
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove-task-button{
    background-color: transparent;
    border: none;
    border-radius: 40px;
}

.done-task-button{
    background-color: transparent;
    border: none;
    border-radius: 40px;
}

.delete-task-button{
    background-color: transparent;
    border: none;
    border-radius: 40px;
}

.to-do{
    display: flex;
    justify-content: flex-start;
    font-size: 1.3em;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
}

.to-do-done{
    display: flex;
    justify-content: flex-start;
    font-size: 1.3em;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
}

.remove-img{
    width: 25px;
}

.done-img{
    width: 25px;
}

.delete-img{
    width: 25px;
}

