@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}   

.stick-container{
    position:fixed;
    width: 100vw;
    height: 140px;
    top: 0;
    z-index: 2;
}

.contact-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 112, 56);
    width: 100%;
    height: 30%;
}

.nav-container{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: rgb(227, 227, 227);
    width: 100%;
    height: 70%;
}

.head-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 800px;
    overflow: hidden;
}

.head-middle-container{
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}   

.text-header{
    color: rgb(227, 227, 227);
    font-size: clamp(3em, 5vw, 5em);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 800;
    font-style: bold;
    margin: auto;
}

.order-button{
    font-size: 0.8em;
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: rgb(56, 112, 56);
    color: rgb(227, 227, 227);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 14px;
    font-weight: 800;
    border: none;
    outline: none;
    cursor: pointer;
}

.cover-page{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.contact-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 30px;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: white;
    gap: 10px;
}

.contact-logo{
    width: 20px;
}

.nav-order-button{
    font-size: 0.75em;
    font-weight: 600;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: rgb(56, 112, 56);
    border: 3px solid rgb(56, 112, 56);
    border-radius: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    white-space: nowrap;
    cursor: pointer;
}

.nav-order-button:hover{
    color: rgb(227, 227, 227);
    background-color: rgb(56, 112, 56);
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(48, 44, 44);
    font-family: "Special Gothic Expanded One", sans-serif;
}

.search-image{
    width: 25px;
}

.cart-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;

}

.cart-text{
    font-size: 1em;
    font-weight: 600;
    color: rgb(48, 44, 44);
    font-family: "Special Gothic Expanded One", sans-serif;
}

.cart-bag-image{
    width: 30px;
}

.inner-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    border: 1px;
}

.name{
    font-family: "Sarina", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.link{
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.link:hover{
    background-color: rgb(56, 112, 56);
    color: rgb(227, 227, 227);
}


